<template>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sequi maxime culpa delectus reprehenderit blanditiis commodi nisi dolorum, temporibus expedita sit fugit at consequuntur. Delectus animi est nostrum tempore, facere vel hic atque odio placeat, vitae eius. Voluptates tempore porro ea dignissimos, maiores ullam vero quas molestiae, dicta necessitatibus nam fugiat quis ipsum quidem deleniti, neque eligendi! Delectus odio assumenda impedit, magnam officia quod, ex illum molestiae et ea veritatis maiores quia tempore. Quidem repellendus, iusto amet dolorum temporibus dolor distinctio neque reiciendis omnis sint ducimus accusantium qui recusandae maiores molestias, blanditiis animi culpa ratione odio, voluptas possimus. Et, voluptatibus.
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>