<template>
  <div class="column is-half mx-auto">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam cumque sequi
      eveniet molestiae? Officia sed consectetur architecto pariatur totam.
      Impedit doloribus ipsum eligendi consequuntur? Ipsam incidunt rerum nisi
      autem fugiat inventore ex. Nihil earum voluptatibus natus aliquam adipisci
      et molestiae, sint atque beatae qui ducimus quia quae molestias amet
      eligendi?
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
