<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div class="column">
      <div class="card is-primary" style="
        min-height: 15rem;
        width: 60vw;
        margin: 0 auto;
        background-color: rgba(190, 236, 234, 0.72);
      ">
        <header class="card-header">
          <p class="card-header-title">Welcome</p>
        </header>
        <div class="card-content">
          <div class="content has-text-centered" style="font-weight: bold">
            <p>A PWA template with Vue 2 and Buefy</p>
          </div>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">
            <span>
              <p>
                Made by a shinobi for quickstart up of projects with one of my favourite UI libarries for Vue
              </p>
              <b-button icon-left="face" class="mt-2 is-dark">Welcome</b-button>
              <slot />
            </span>
          </div>
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
