<template>
  <nav role="navigation" aria-label="main navigation">
    <b-navbar style="background-color: rgb(157, 175, 241)">
      <template #brand>
        <b-navbar-item>
          <h3>R0N1n-dev</h3>
        </b-navbar-item>
      </template>
      <template #start>
        <b-navbar-item>
          <b-button type="is-ghost" tag="router-link" to="/">Home</b-button>
        </b-navbar-item>
        <b-navbar-item>
          <router-link to="/inspire">Inspire</router-link>
        </b-navbar-item>
        <b-navbar-item>
          <router-link to="/about">About</router-link>
        </b-navbar-item>
      </template>
      <!-- <template #end>
        <b-navbar-item tag='div'>Home</b-navbar-item>
        <div class='buttons'>
          <a class='button is-primary'>Signup</a>
          <a class='button is-primary'>Login</a>
        </div>
      </template>-->
    </b-navbar>
  </nav>
</template>

<script>
export default {};
</script>

<style scoped>
a.router-link-active {
  color: rgb(12, 15, 14);
}

a.router-link-exact-active {
  border-bottom: 2px solid purple;
}
</style>
