<template>
  <div id="app">
    <div class="nav">
      <TheNavbar />
    </div>
    <div class="upBtn" v-if="updateExists" aria-cloes-label="Close message">
      <b-message title="Update" v-model="isActive" type="is-info" has-icon aria-close-label="Close notification">
        <p>New content available !</p>
        <b-button type="is-primary" @click="refreshApp">
          Refresh
        </b-button>
      </b-message>
    </div>
    <router-view class="mt-6"></router-view>
  </div>
</template>

<script>
import TheNavbar from "./components/TheNavbar.vue";
export default {
  name: "App",
  components: { TheNavbar },
  data() {
    return {
      refreshing: false,
      registration: null,
      updateExists: false,
      isActive: false,
    };
  },
  methods: {
    showRefreshUI(e) {
      this.registration = e.detail;
      this.updateExists = true;
      this.isActive = true;
    },
    refreshApp() {
      this.updateExists = false;
      if (!this.registration || !this.registration.waiting) {
        return;
      }
      this.registration.waiting.postMessage("skipWaiting");
    },
  },
  created() {
    document.addEventListener("swUpdated", this.showRefreshUI, { once: true });
    if (navigator.serviceWorker) {
      navigator.serviceWorker.addEventListener("controllerchange", () => {
        if (this.refreshing) return;
        this.refreshing = true;
        window.location.reload();
      });
    }
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
